#title{
    text-align: center;
    font-size: 30px;
}

.blog-preview{
    padding: 10px 16px;
    margin: 20px 12px;
    border-bottom: 1px solid #fafafa;
    box-shadow: 1px 3px 6px 0px;
}

.blog-preview :hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0) ;
}

.blog-preview h2{
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}